@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 209 128 58;
  --color-primary: 142 65 6;
  --color-secondary: 242 167 27;
  --color-accent: 115 107 83;
  --color-text: 197, 195, 195;
  --color-border: 224 224 224;
  --color-success: 40 167 69;
  --color-warning: 255 193 7;
  --color-error: 220 53 69;
  --color-text-orange: 154, 52, 18;
  --color-bg-light-orange: 254, 237, 220;
  --color-text-dark: 0,0,0;
}

.example {
  --color-background: rgb(209, 128, 58);
  --color-primary: rgb(142, 65, 6);
  --color-secondary: rgb(242, 167, 27);
  --color-accent: rgb(115, 107, 83);
  --color-text: rgb(197, 195, 195);
  --color-border: rgb(224, 224, 224);
  --color-success: rgb(40, 167, 69);
  --color-warning: rgb(255, 193, 7);
  --color-error: rgb(220, 53, 69);
  --color-text-orange: rgb(154, 52, 18);
  --color-bg-light-orange: rgb(254, 237, 220);
  --color-text-dark: rgb(0,0,0);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  height: 100vh;
}

